* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialised;
    line-height: 1.6;
    overflow-x: hidden;
}

body {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    background: #76b852;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#content h2 {
    color: white;
    text-align: center;
    margin:40px;
    animation: dropdown 0.5s ease-in-out;
}

.card {
    margin: 20px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    animation: dropdown 1.5s ease-in-out;
} 

.card-body {
    padding: 0;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.card-title {
    width: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: white;
    padding: 1.25em;
}

.card-text, .btn-primary {
    margin: 1.25em;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@keyframes dropdown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}