@media screen and (max-width: 600px) {
    #header {
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    #header {
        justify-content: space-around;
    }
}


* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialised;
    line-height: 1.6;
}

body {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

#content {
    position: relative;
    -webkit-flex: 1 1;
    -moz-flex: 1 1;
    -ms-flex: 1 1;
    -o-flex: 1 1;
    flex: 1 1;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    display: block;
    background: url("/assets/img/mangrove-forest.jpg") center no-repeat;
}

#header {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 50;
    background: transparent;
}

#logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
}

#nav {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
}

#nav li a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

#nav li:last-child a {
    border: 1px solid white;
    border-radius: 5px;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

#nav li:first-child a:hover {
    animation: pulse 0.5s ease-in-out;
}

#nav li:first-child a:hover a {
      transform: translateY(-10px);
-webkit-transform: translateY(-10px);
}

#nav li:last-child a:hover {
    background: white;
    color: #24243e;
}


.layer {
    background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, #000000, #0f9b0f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #0f9b0f);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex: wrap;
    -moz-flex: wrap;
    -ms-flex: wrap;
    -o-flex: wrap;
    flex: wrap;
}

#intro {
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding-top: 100px;
}

#intro:before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-left: 100px solid transparent;
}

#hText {
    position: relative;
    text-align: center;
    color: white;
}

#mText {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

#sText {
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 75%;
    color: white;
}

#lm {
    position: relative;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: lightgreen;
    border-radius: 15px;
    color: #0f9b0f;
}


#lm:hover {
    background: transparent;
    color: lightgreen;
    border: 2px solid #0f9b0f;
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 2px 8px 45px rgba(0, 0, 0, .75);
  transform: translate3D(0, -2px, 0);
}

#cntr {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-top: 10em;
    border-radius: 5px;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

#cntr:hover {
    background: rgba(255, 255, 255, 0.1);
}

#cntr span {
    display: block;
}

#cntr svg {
    margin: 0 auto;
    margin-top: 5px;
    animation: pulse 2s ease-in-out infinite;
    -webkit-animation: pulse 2s ease-in-out infinite;
    -o-animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}